# dependencies
node_modules

# splits-kit
packages/splits-kit/storybook-static/
packages/splits-kit/.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# claude local config
.claude/settings.local.json

# build
packages/*/dist

packages/*/*.env